<div class="index-content right">
  <div class="index-text smaller right">
    <h2>PUBG Tracker</h2>
    <h3>Track the enemies that you've defeated or defeated you</h3>
    <div class="button-wrap flex-end">
      <a class="button easing" target="_pubgt" href="https://pubgt.yunggaming.com">
        <i class="fas fa-globe-americas"></i> Website
      </a>
      <a class="button easing" target="_pubgt_git" href="https://overwolf.com">
        <img src="/assets/overwolf.png"/>
        Download
      </a>
    </div>
  </div>
  <div class="index-image smaller">
    <img src="/assets/pubgt.logo.png"/>
  </div>
</div>